*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 1600px;
  margin: 0 auto;
}

#root{
  width: 100%;
  margin: 10px auto 0;
}

canvas{
  display: block;
  border: 1px dashed gray;
  margin: 10px auto;
}

.item {
  margin-bottom: 20px;
}

.control{
  display: flex;
  align-items: flex-end;
}

.normal {
  display: inline-block;
  height: 26px;
  line-height: 26px;
  text-indent: 1em;
  width: 180px;
  font-size: 18px;
}

.condition{
  margin-right: 30px;
  font-size: 20px;
}

.btn{
  margin-left: 30px;
  display: inline-block;
  padding: 0 10px;
  height: 26px;
  line-height: 26px;
  font-size: 20px;
  cursor: pointer;
}
